main/spoofs-and-goofs/frames
.DS_Store
main/application.*
main/build
main/data/_music
main/data/_music/*
main/data/_old
highscore.dat
picade.txt
video/
DIP-switches.txt
*.apk
main/dino.dat
main/settings.txt
main/trailer
/main/extras
